<div class='top-nav'>
    <!-- !!!!!!!material buttons not working with server pre-rendering!!!!!!! -->
    <md-toolbar color="primary">
        <span>ng-aspnet-ef-core</span>
        <span class="md-toolbar-spacer"></span>
        <button md-icon-button [mdMenuTriggerFor]="menu">
            <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
            <button [routerLink]="['/home']" md-menu-item>
                <!--<span class='glyphicon glyphicon-home'></span> Home-->
                <md-icon>store_mall_directory</md-icon>
                <span>Home</span>
            </button>
            <button md-menu-item [routerLink]="['/samurai']">
                <md-icon>face</md-icon>
                <span>Samurai</span>
            </button>
            <button md-menu-item [routerLink]="['/fetch-data']">
                <md-icon>storage</md-icon>
                <span>Fetch data</span>
            </button>
        </md-menu>
    </md-toolbar>
</div>

